@model EntityLayer.Concrete.About
<div class="tm-section tm-container-inner">
	<div class="row">
		<div class="col-md-6">
			<figure class="tm-description-figure">
				<img src="@Model.ExistImage" alt="Image" style="height:400px; width:600px;"class="img-fluid" />
			</figure>
		</div>
		<div class="col-md-6">
			<div class="tm-description-box">
				<h4 class="tm-gallery-title">@Model.ExistTitle</h4>
				<p class="tm-mb-45">@Model.ExistContent</p>

			</div>
		</div>
	</div>
</div>