
<div class="placeholder" >
	<div class="parallax-window" >
		<div class="tm-header">
			<div class="row tm-header-inner">
				<div class="col-md-6 col-12">
					<img src="~/templatemo_539_simple_house/img/simple-house-logo.png" alt="Logo" class="tm-site-logo" />
					<div class="tm-site-text-box">
						<h1 class="tm-site-title">Çiçek Restoran</h1>
					</div>
				</div>
				<nav class="col-md-6 col-12 tm-nav">
					<ul class="tm-nav-ul">
						<li class="tm-nav-li"><a href="/Home/All" class="tm-nav-link active">Ana Sayfa</a></li>
						<li class="tm-nav-li"><a href="/Home/About" class="tm-nav-link">Hakkımızda</a></li>
						<li class="tm-nav-li"><a href="/Home/Contact" class="tm-nav-link">İletişim</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>

