@model EntityLayer.Concrete.About

<header class="row tm-welcome-section">
    <h2 class="col-12 text-center tm-section-title">@Model.EntryTitle</h2>
    <p class="col-12 text-center">@Model.EntryContent</p>
</header>